BODY,
H2,
H3,
H4,
H5,
H6,
TH,
TD {
    font-family: arial, helvetica, sans-serif;
}

H1 {
    font-size: 38px;
    font-family: arial, helvetica, sans-serif;
}
.froggo{
    width:32px;
    height: 32px;
    object-fit: contain;
    
}
svg {
    background-color: rgb(119, 119, 16);
}
p.highlight {
    color: red;
}
